<div class="title">
  <h1>Picks</h1>
</div>


<p>検索</p>
<%= form_tag(picks_path,:method => 'get') do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', :name => nil %>
  <%= link_to 'Clear', picks_path %>
<% end %>

<br>

<% @picks.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |pick| %>
      <div class="col-md-12 pic-wrapper">
        <div class="col-md-4">
          <%= image_tag pick.picture_url, width: '100%' if pick.picture.present? %>
        </div>
        <div class="col-md-8">
          <h2>Group Name</h2>
          <%= pick.group.name %>
          <h2>Address</h2>
          <%= pick.address %>
          <h2>Location</h2>
          <h4><%= link_to pick.location, pick %></h4>
          <h2>Description</h2>
          <%= pick.description %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<br />


<%= link_to 'New Pick', new_pick_path %>
<%= link_to 'Show Group', groups_path %>
