<div class="container">
  <h1>Picks</h1>
  <%#= form_tag(picks_path,:method => 'get', name: "searchName") do %>
    <%#= text_field_tag :search, params[:search] %>
    <%#= submit_tag 'Search', :name => nil %>
    <%#= link_to 'Clear', picks_path %>
  <%# end %>

  <%= search_form_for @q do |f| %>
    <%= f.label :feel, "Keyword" %>
    <%= f.search_field :feel_cont %>

    <%= f.submit "検索" %>
  <% end %>


  <p id="span1"></p>
  <a href="" class="btn btn--white btn--cubic">All</a>
  <a href="" class="btn btn--orange btn--cubic">Positive</a>
  <a href="" class="btn btn--purple btn--cubic">Negative</a>
  
  <button type="button" onClick="show-all"><a href="/picks?search=<%= @search_name%>"></a>All</button>
  <button type="button" onClick="show-positive"><a href="/picks?/search=<%= @search_name%>">Positive</a></button>
  <button type="button" onClick="show-negative"><a href="/picks?search=<%= @search_name%>">Negative</a></button>
  <br>
  <% @picks.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |pick| %>
        <% if pick.feel == "Positive"%>
        <div class="col-md-12 pic-wrapper positive">
        <% elsif pick.feel == "Negative"%>
        <div class="col-md-12 pic-wrapper negative">
        <% else%>
        <div class="col-md-12 pic-wrapper normal">
        <% end %>
          <div class="col-md-4">
            <%= image_tag pick.picture_url, width: '100%' if pick.picture.present? %>
          </div>
          <div class="col-md-4">
            <h4>Group Name</h4>  
            <p><%= pick.group.name %></p>
            <h4>Address</h4>
            <p><%= pick.address %></p>
            <h4>Location</h4>
            <p><%= pick.location%></p>
          </div>
          <div class="col-md-4">  
          <div class="description_style">
            <h4>Description</h4>
            <%= pick.description %>
            </div>
            <br />

            <%= link_to 'Show', pick %>
            <%= link_to 'Edit', edit_pick_path(pick) %>
            <%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <br />


  <%= link_to 'New Pick', new_pick_path %>
  <%= link_to 'Show Group', groups_path %>
</div>

<script>
  // var positive = document.getElementssByClassName(positive);
  // var positive = document.getElementssByClassName(negative);
  // var positive = document.getElementssByClassName(normal);

  // function show-all {
  //   positive.style.display = "";
  //   negative.style.display = "";
  //   normal.style.display = "";
  // }

  // function show-positive {
  //   positive.style.display = "";
  //   negative.style.display = "none";
  //   normal.style.display = "none";
  // }

  // function show-negative {
  //   positive.style.display = "none";
  //   negative.style.display = "";
  //   normal.style.display = "none";
  // }

  // $(document).on 'turbolinks:load', ->
  // $(".show-positive").on "click" , ->
  //   $(".positive").toggle()

  

</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>