<%# <h1>Picks</h1> %>
<%#= form_tag(picks_path,:method => 'get', name: "searchName") do %>
  <%#= text_field_tag :search, params[:search] %>
  <%#= submit_tag 'Search', :name => nil %>
  <%#= link_to 'Clear', picks_path %>
<%# end %>
<div id="search-picks">
  <%= search_form_for @q do |f| %>
    <%#= f.label :feel, "Keyword" %>
    <div id="keyword-search">
    <%= f.search_field :feel_or_description_cont %>
      <%= f.submit "Search" %>
      <%= link_to 'Clear', picks_path %>
    </div>
    <div class="search-body">
      <table>
        <tr>
          <td><%= f.label :feel, "Feel"%></td>
          <td>
            <%= f.radio_button :feel_cont, :positive %>
            <%= f.label :feel, "Positive", {value: :positive, style: "display: inline-block; font-weight:normal;"} %>
            <%= f.radio_button :feel_cont, :negative %>
            <%= f.label :feel, "Negative", {value: :negative, style: "display: inline-block; font-weight:normal;"} %>
          </td>
        </tr>
        <tr>           
          <td><%= f.label :group_id_eq, "Groups" %></td>
          <td><%= f.collection_select :group_id_eq, @groups, :id, :name, :include_blank => '指定なし' %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>

<% @picks.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |pick| %>
      <% if pick.feel == "Positive"%>
        <div class="col-md-12 pic-wrapper positive">
      <% elsif pick.feel == "Negative"%>
        <div class="col-md-12 pic-wrapper negative">
      <% else%>
        <div class="col-md-12 pic-wrapper normal">
      <% end %>
          <div class="col-md-4">
            <%#= image_tag pick.picture_url, width: '100%' if pick.picture.present? %>
            <%= image_tag pick.picture.to_s, width: '100%' %>
          </div>
          <div class="col-md-4 pic-text">
            <h4>Group Name</h4>  
            <p style="color:black;"><%= pick.group.name %></p>
            <h4>Location</h4>
            <p><%= pick.location%></p>
            <h4>Address</h4>
            <p><%= pick.address %></p>
          </div>
          <div class="col-md-4">  
          <div class="description-style">
            <h4>Description</h4>
            <p><%= pick.description %></p>
            </div>
            <br />
            <div class="link-btn">
              <span class="detail-show"><%= link_to 'Extra infomation', pick, class: "detail" %></span>
              <br>
              <%= link_to 'Edit', edit_pick_path(pick) %> |
              <%= link_to 'Destroy', pick, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
<% end %>

<br />


<%#= link_to 'New Pick', new_pick_path %>
<%#= link_to 'Show Group', groups_path %>


<script>
  // var positive = document.getElementssByClassName(positive);
  // var positive = document.getElementssByClassName(negative);
  // var positive = document.getElementssByClassName(normal);

  // function show-all {
  //   positive.style.display = "";
  //   negative.style.display = "";
  //   normal.style.display = "";
  // }

  // function show-positive {
  //   positive.style.display = "";
  //   negative.style.display = "none";
  //   normal.style.display = "none";
  // }

  // function show-negative {
  //   positive.style.display = "none";
  //   negative.style.display = "";
  //   normal.style.display = "none";
  // }

  // $(document).on 'turbolinks:load', ->
  // $(".show-positive").on "click" , ->
  //   $(".positive").toggle()

  

</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>