
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@pick.picture_url, width: '100%') if @pick.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Group: </b><%= @pick.group.name %></p>
    <p><b>Address: </b><%= @pick.address %></p>
    <p><b>Location: </b><%= @pick.location %></p>
    <p><b>Description: </b><%= @pick.description %></p>
    <p>
      <%= link_to 'Edit', edit_pick_path(@pick) %> |
      <%= link_to 'Destroy', @pick, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', picks_path %>
    </p>
  </div>


  <script type="text/javascript">
    function initMap() {
      var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: test
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      var contentString = '住所：<%= @address %>';
      var infowindow = new google.maps.InfoWindow({
          content: contentString
      });

      var marker = new google.maps.Marker({
          position:test,
          map: map,
          title: contentString
      });

      marker.addListener('click', function() {
          infowindow.open(map, marker);
      });
    }

  </script>


  <div id="map"></div>
ƒ
</div>