<!DOCTYPE html>
<html>
  <head>
    <title>Postpicks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# <div class="container ">
    </div> %>
    <div class="row">
      <%= render 'layouts/topbar' %>
      <div class="col-md-2">
        <%= render'layouts/sidebar' %>
      </div>
      <div class="col-md-10">
        <div class="container">
          <%= yield %>
        </div>
        <footer>
          <div class="container-fluid">
            Copyright © 2020, GlobalDesign2020
          </div>
        </footer>
      </div>
    </div>
  </body>

<%# <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> %>



  <script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['API_KEY'] %>&callback=initMap">    
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>